@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="navbar-nav navbar-right">
            <div class="d-flex flex-row mr-auto">
                @Html.ActionLink("您好 " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link mr-2" })
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">登出</a>
            </div>
        </div>
    }
}
else
{
    <div class="navbar-nav navbar-right">
        <div class="d-flex flex-row mr-auto">
            @Html.ActionLink("註冊", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link mr-2" })
            @Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link mr-2" })
        </div>
    </div>
}
