@model Holodex.Models.Video

@{
    ViewBag.Title = "影片頁面";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>@Model.Title</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.Id" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <h3>聊天室</h3>
            <div id="chatroom"></div>
        </div>
    </div>
</div>

<script>
    
    var videoId = '@Model.Id';
    var chatroomContainer = document.getElementById('chatroom');
    var chatroomUrl = 'https://www.youtube.com/live_chat?v=@Model.Id&embed_domain=localhost';

    // 使用 iframe 載入聊天室
    var chatroomIframe = document.createElement('iframe');
    chatroomIframe.src = chatroomUrl;
    chatroomIframe.width = '100%';
    chatroomIframe.height = '500px';
    chatroomIframe.frameBorder = '0';
    chatroomContainer.appendChild(chatroomIframe);
</script>
